.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button:disabled {
  cursor: not-allowed;
}

.button {
  padding: 10px;
  cursor: pointer;
  transition: all linear 0.1s;
}

.button:hover {
  transform: scale(1.05);
}
