.container {
    background: var(--bg-soft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .addButton {
    padding: 10px;
    background-color: #5d57c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
  }
  
  .table td {
    padding: 10px 4px;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 2px;
  }
  
  .userImage {
    border-radius: 50%;
    object-fit: cover;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
  }
  
  .view {
    background: teal;
  }
  .delete {
    background: crimson;
  }
  