* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  font-family: Helvetica;;
}

:root {
  --bg: #151c2c;
  --bg-soft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

body {
  background-color: var(--bg);
  color: var(--text); 
}
