.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: var(--bg-soft);
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  height: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.form input {
    width: 100%;
  padding: 20px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background: var(--bg);
  color: var(--text);
}

.form .button {
  padding: 20px;
  background-color: teal;
  color: var(--text);
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.form h1{
   width: 100%;
   text-align: center;
}
