.container{
    padding:20px;
    display:flex;
    align-items: center;
    gap:10px;
    color: var(--text);
    text-decoration: none !important;
    transition:all .1s linear;
    margin:5px 0;
    border-radius: 10px;;
}

.container:hover,.active{
    background-color:#2e374a;
    
}